/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background: rgba(255, 255, 255, 0.5); /* Glass effect background color */
    color: #333; /* Text color */
}

/* Section styles */
section {
    background: rgba(255, 255, 255, 0.8); /* Smoky white background color */
    border: 1px solid rgba(0, 0, 0, 0.1); /* Light border */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Soft shadow */
    color: #333; /* Text color */
    padding: 20px;
    margin: 20px 10px; /* Adjusted margin for spacing */
    border-radius: 10px; /* Rounded corners */
    overflow: auto; /* Enable scrolling */
}

/* Link styles */

.github-link {
    background: rgba(255, 255, 255, 0.9); /* Light background color for a glass effect */
    border: 1px solid rgba(0, 0, 0, 0.2); /* Slightly darker border for contrast */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Soft shadow for depth */
    color: #333; /* Text color */
    width: 150px;
    padding: 10px;
    height: 100px;
    margin: 20px 10px; /* Adjusted margin for spacing */
    border-radius: 10px; /* Rounded corners */
    transform: perspective(500px) rotateX(10deg); /* 3D effect with rotation */
    transition: transform 0.5s; /* Smooth transition on hover */
}

.github-link:hover {
    transform: perspective(500px) rotateX(-10deg); /* Reverse rotation on hover */
}

/* Header styles */
.header {
    background-color: #333;
    color: #fff;
    text-align: right;
    border: 1px solid #333;
    padding: 20px;
}

/* Navigation styles */
.nav {
    background-color: blue;
    color: white;
    ul {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        overflow: hidden;
        
        li {
            border: 1px solid #333;
            padding: 10px;
            margin: 5px;
            box-shadow: 2px 2px 5px #333;
            transition: box-shadow 0.3s;
            a {
                text-decoration: none;
                color: inherit;
            }
            &.active {
                box-shadow: 5px 5px 10px #333;
                background-color: blue;
                color: white;
            }
        }
    }
}

/* Portfolio heading styles */
#portfolio-heading {
    font-size: 24px;
}

/* Main styles */
main {
    padding: 20px;
}

/* Footer styles */
.contact {
    background-color: rgb(9, 9, 9);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
}

/* Contact heading styles */
#contact-heading {
    font-size: 24px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .nav {
        flex-direction: column;
    }
}